*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
    padding: 0px;
}
 /* nav bar */
.navbar{
    height: 87px;
    width: 1435px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}
/* acem logo */
.nav1{
    display: flex;
    justify-content:center;
    align-items: center;
}
.logo{
    background-image: url(/assets/logoAcem.png);
    background-size: cover;
    height: 67px;
    width: 55px;
    display: flex;
}
.name{
    display: flex;
    align-items: center;

}
.name a{
    text-decoration: none;
    color:#CD2023;
    font-size: 8px;

}
/* navigations */
.nav2{
    height: 50px;
    width: 900px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    text-decoration: none;
    height: 44px;
    width: 200px;
    font-size: 30px;
    border-right: 2px solid black;
}
.a-companies{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    height: 44px;
    /* width: 150px; */
    font-size: 30px;
}
.search{
    height: 35px;
    width: 35px;
    background-color: #CD2023;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 20px;
}
.companies{
    height: 44px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* user login button */
.nav3{
    height: 40px;
    width: 90px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
}
.nav3 a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    position: absolute;
    top: 87px;
}

.display-bg{
    height: 950px; /* prev fit 828*/
    width: 1455px;
    background-image: url(/assets/display-bg.jpeg);
    background-size: contain;
}
/* main content */

.heading{
    height: 440px;
    text-align: center;
    /* line-height: 60px; */
}
#line1{
    color: #CD2023;
    font-size: 40px;
    padding-top: 20px;
    font-weight: 900;
}
#line2{
    color: white;
    font-size: 96px;
    font-weight: 900;
}
#line3{
    color: white;
    font-size: 96px;
    font-weight: 900;
}
#line4{
    color: #c3c3c3;
    font-size: 20px;
}
button{
    height: 78px;
    width: 324px;
    background-color: #CD2023;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 24px;
   
}
.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
    margin-bottom: 40px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 950px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.hiring{
    height: 750px;
    width: 1455px;
    background-color: white;
}
.heading-hiring{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.graphics{
    background-image: url(/assets/bg-graphics.webp);
    background-size: cover;
    height: 143px;
    width: 1455px;
    display: flex;
    align-items: end;
    position: absolute;
    top: 1577px;
    z-index: 1;
}
.info{
    background-color: #161819 ;
    height: 1700px;
    width: 1455px;
    z-index: 12;

}
.para1{
    padding-top: 69px;
    text-align: center;
    font-size: 66px;
    font-weight: 700;
    color: white;
}
.img1{
    height: 75px;
    width: 75px;
    background-image: url(/assets/graduate.png);
    background-size: cover;
}
.img2{
    height: 72px;
    width: 72px;
    background-image: url(/assets/bowtie.png);
    background-size: cover;
}
.img3{
    height: 79px;
    width: 79px;
    background-image: url(/assets/teacher.png);
    background-size: cover;
}
.img4{
    height: 69px;
    width: 69px;
    background-image: url(/assets/projects.png);
    background-size: cover;
}
.imgbg1{
    height: 99px;
    width: 99px;
    background-color: #FA3235;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin-left: 678px;
    margin-top: 128px;
}
.imgbg2{
    height: 99px;
    width: 99px;
    background-color: #AD45FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin-left: 678px;
    margin-top: 12px;
}
.imgbg3{
    height: 99px;
    width: 99px;
    background-color: #FFE03E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin-left: 678px;
    margin-top: 12px;
}
.imgbg4{
    height: 99px;
    width: 99px;
    background-color: #6DFF56;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin-left: 678px;
    margin-top: 12px;
}
.linespace{
    background-color: #535353;
    height: 114px;
    width: 3px;
    margin-left: 726px;
    margin-top: 17px;
}
.row2{
    text-align: center;
    color: white;
    font-size: 36px;
    padding-top: 24px;
}
.row3{
    text-align: center;
    color: #ABABAB;
    font-size: 16px;
}
.sec4{
    height: 760px;
    width: 1455px;
    background-color: #161819;
}
.whyacem{
    color: #161819;
    font-size: 128px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #636047;
    text-align: center;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    height: 470px;
    width: 270px;
    padding: 10px 10px 0px 10px;


}
.v-bg{
    height: 550px;
    width: 400px;
    background-color: #2D2D2D;
    border: 8px solid #626262;
    margin: 30px 25px 0px 25px;
    border-radius: 12px;
}
.one{
    display: flex;
    justify-content: center;
    align-items: end;

    color: #F37520;
    font-size: 28px;

}
.two{
    display: flex;
    justify-content: center;
    align-items: end;
    color: #DFDFDF;
    font-size: 22px;
}
.about-text{
    font-size: 24px;
    font-weight:lighter;
    color: #A0A0A0;
    padding-right: 20px;
}

h3{
    text-align: center;
    font-size: 64px;
    margin-top: 48px;
    margin-bottom: 69px;
}
.studentdata{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}
.student1img{
    height: 300px;
    width: 300px;
    background-image: url(/assets/student1img.png);
    background-size: cover;
}
.student2img{
    height: 300px;
    width: 300px;
    background-image: url(/assets/student2img.png);
    background-size: cover;
}
.student3img{
    height: 300px;
    width: 300px;
    background-image: url(/assets/student3img.png);
    background-size: cover;
}
.student4img{
    height: 300px;
    width: 300px;
    background-image: url(/assets/student4img.png);
    background-size: cover;
}
.studentdetail{
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}
.placed{
    font-size: 70px;
    margin-left: 20px;
}

/* our pas recruiter */
.pastrecruiter{
    height: 700px;
    width: 1455px;
}
.pastrecruiter h3{
    font-size: 64px;
    padding-top: 60px ;
    text-align: center;
}
/* our pas recruiter slide show */
.slider {
    height: 500px;
	width: 1455px;
	position: relative;
    display: flex;
    justify-content: center;
}

.slider ul {
	list-style: none;
	margin: 0;
	padding: 0;
    background-color: blue;
}

.slider li {
	position: absolute;
	top: 0;
	left: 227.5px;
	opacity: 0;
	transition:0s;
}

img {
	height: 500px;
	width: 1000px;
}

.slider li.active {
	opacity: 1;
}
.active{
    background-color: white;

}

/* message from chairman's desk*/
.chairman-msg{
    height: 500px;
    width: 1455px;
    background-color: black;
    margin-top: 10px;
    display: flex;
}

.director-msg{
    height: 500px;
    width: 1455px;
    display: flex;
    background-color: black;
}
.content h5{
    color: white;
    text-align: start;
    font-size: 48px;
    padding-left: 17px;
    padding-top: 42px;
}
.content p{
    color: #9C9C9C;
    text-align: start;
    font-size: 32px;
    padding-top: 50px;
    padding-left: 17px;
}
.image{
    height: 268px;
    width: 255px;
    background-image: url(/assets/chairman-img.jpeg);
    background-size: contain;
    padding: 15px 15px 15px 15px;

}
.img-bg{
    height: 360px;
    width: 550px;
    background-color: #2D2D2D;
    border: 10px solid #626262;
    margin: 50px 25px 0px 25px;
    border-radius: 12px;
}
.one1{
    /* display: flex;
    justify-content: center;
    align-items: end; */
    margin-top: 15px;
    text-align: center;
    color: #F37520;
    font-size: 28px;

}
.two1{
    /* display: flex;
    justify-content: center;
    align-items: end; */
    text-align: center;
    color: #DFDFDF;
    font-size: 22px;
}
.content1 h5{
    color: white;
    text-align: end;
    font-size: 48px;
    padding-right: 17px;
    padding-top: 42px;
}
.content1 p{
    color: #9C9C9C;
    text-align: start;
    font-size: 32px;
    padding-top: 50px;
    padding-left: 17px;
}
.image1{
    height: 268px;
    width: 255px;
    background-image: url(/assets/director-img.jpeg);
    background-size: cover;
    padding: 15px 15px 15px 15px;

}
.coordinator h5{
    text-align: center;
    font-size: 64px;
}
.coordinator{
    height: 997px;
    width: 1455px;
    margin-top: 40px;
   
}
.coordinator-bg{
    position: absolute;
    top: 6961px;
    height: 600px;
    width: 1455px;
    background-image: url(assets/coordinator-bg.jpeg);
    background-size: cover;
    opacity: 0.5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
}
.coordinator-data{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding-top: 46px;
    flex-wrap: wrap;
    

}
.coordinator1{
    height: 335px;
    width: 336px;
    background-image: url(/assets/coordinator.jpeg);
    background-size: cover;
    margin-left: 50px;

}
.coordinator2{
    height: 335px;
    width: 336px;
    background-image: url(/assets/coordinator.jpeg);
    background-size: cover;
    margin-left: 50px;
}
.coordinator3{
    height: 335px;
    width: 336px;
    background-image: url(/assets/coordinator.jpeg);
    background-size: cover;
    margin-left: 50px;
}
.coordinator4{
    height: 335px;
    width: 336px;
    background-image: url(/assets/coordinator.jpeg);
    background-size: cover;
    margin-left: 50px;
    margin-top: 70px;
}
.coordinator5{
    height: 335px;
    width: 336px;
    background-image: url(/assets/coordinator.jpeg);
    background-size: cover;
    margin-left: 50px;
    margin-top: 70px;
}
.coordinator-cse{
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: #8E8E8E;
    margin-left: 50px;
}
.coordinator-ece{
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: #8E8E8E;
    margin-left: 50px;
}
.coordinator-ce{
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: #8E8E8E;
    margin-left: 50px;
}
.coordinator-me{
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: #8E8E8E;
    margin-left: 50px;
}
.coordinator-management{
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: #8E8E8E;
    margin-left: 50px;
}

.bg-blur{
    height: 600px;
    width: 1455px;
    background-image: url(/assets/footer-bg.png);
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    top: 7648px;
}
.footer-line1{
    position: absolute;
    top: 7648px;
    height: 394px;
    width: 3px;
    background-color: black;
    margin-left: 107px;
    margin-top: 44px;
}
.footer-line2{
    position: absolute;
    top: 8086px;
    height: 42px;
    width: 42px;
    margin-left: 83px;
    border: 4px solid black;
    border-radius: 50%;
}
.footer-line3{
    position: absolute;
    top: 8050px;
    height: 3px;
    width: 1315px;
    background-color: black;
    margin-left: 140px;
    margin-top: 44px;
}
.credit{
    position: absolute;
    top: 8210px;
    font-size: 25px;
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: red;
    text-decoration: none;
    margin-left: 10px;
}
.credit a{
    font-size: 25px;
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: red;
    text-decoration: none;
    margin-left: 10px;
}
.copyright{
    position: absolute;
    top: 8110px;
    font-size: 25px;
    margin-left: 150px;
}
.foot-img1{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 8107px;
    margin-left: 1380px;
    background-color: white;
    border-radius: 10px;
    background-image: url(/assets//Social/twitter.png);
    background-size: cover;
}
.foot-img2{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 8107px;
    margin-left: 1300px;
    background-image: url(/assets/Social/instagram.png);
    background-size: cover;
}
.foot-img3{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 8107px;
    margin-left: 1220px;
    background-image: url(/assets/Social/whatsapp.png);
    background-size: cover;
}
.foot-img4{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 8107px;
    margin-left: 1140px;
    background-image: url(/assets/Social/facebook.png);
    background-size: cover;
}
.foot-img5{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 8107px;
    margin-left: 1060px;
    background-image: url(/assets/Social/youtube.png);
    background-size: cover;
}
.foot-img6{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 8107px;
    margin-left: 980px;
    background-image: url(/assets//Social/linkedin.png);
    background-size: cover;
}
.foot-logo{
    height: 80px;
    width: 60px;
    position: absolute;
    top: 7710px;
    margin-left: 135px;
    background-image: url(/assets/logoAcem.png);
    background-size: cover;
    transform: scale(1.5);
}
.foot-logo-txt1{
    font-size: 25px;
    width: 300px;
    color: #CD2023;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}
.foot-logo-txt2{
    font-size: 25px;
    width: 300px;
    color: #CD2023;
    text-align: center;
    margin-left: 20px;
}
.contact-us{
    height: 130px;
    width: 500px;
    position: absolute;
    top: 7790px;
    margin-left: 120px;
    font-size: 25px;
    line-height: 40px;

}
iframe{
    margin-left: 30px;
    padding-top: 15px;
}
.foot-panel{
    height: 350px;
    width: 850px;
    position: absolute;
    top: 7710px;
    display: flex;
    justify-content: space-evenly;

    margin-left: 600px;
}
.text-big{
    font-size: 40px;
}
.text-medium{
    font-size: 25px;
}
.text-small{
    font-size: 15px;
    color: black;
    text-decoration: none;
    line-height: 23px;
}
.text-s{
    font-size: 22px;
    text-decoration: none;
    color: black;
    line-height: 40px;
}
.microsoft-txt{
    color: black;
    font-size: 48px;
    margin-top: 100px;
    margin-left: 70px;
}
.facebook-txt{
    color: black;
    font-size: 48px;
    margin-top: 70px;
    margin-left: 80px;
}
.adobe-txt{
    color: black;
    font-size: 48px;
    margin-top: 70px;
    margin-left: 80px;
}
.flipkart-txt{
    color: black;
    font-size: 48px;
    margin-top: 70px;
    margin-left: 80px;
}
